.devcontainer/
scripts/
docs/
.husky/
.github/
test/

.editorconfig
.gitignore
.prettierrc.json
.eslintcache
eslint.config.ts
.stylelintignore
.stylelintrc.json
nano-staged.json
tsconfig.*
AGENTS.md
.env
pnpm-workspace.yaml
oxfmt.config.ts

web/assets/*.woff
web/assets/*-math-*.woff2
web/assets/*-symbols-*.woff2
web/assets/*-latin-ext-*.woff2

*.d.ts.map
